html{
    overflow-x: hidden;
}
body{
    background-color: #101029;
    background-image: url(/Curius-Music/images/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: sf_reg;
    src: url(/Curius-Music/fonts/SFProText-Regular.ttf);
}
@font-face {
    font-family: sf_med;
    src: url(/Curius-Music/fonts/SFProText-Medium.ttf);
}
@font-face {
    font-family: sf_light;
    src: url(/Curius-Music/fonts/SFProText-Light.ttf);
}
@font-face {
    font-family: sf_sbold;
    src: url(/Curius-Music/fonts/SFProText-Semibold.ttf);
}
@font-face {
    font-family: sf_bold;
    src: url(/Curius-Music/fonts/SFProText-Bold.ttf);
}
$reg: sf_reg;
$bold: sf_bold;
$med: sf_med;
$semi: sf_sbold;
$light: sf_light;

@mixin base_padding{
    padding-left: clamp(14px, 4vw ,88px);
    padding-right: clamp(14px, 4vw ,88px);
}
.uiio{
    @include base_padding
}

