.footer_h {
color: white;
font-family: $med;
 }
.footer_hr { 
    border-color: #D0D0D0;
}
.footer_p {
color: white;
font-family: $reg;
 }
.footer_icons { }
.footer_img { }
.futer{
    background-color: #09010D;
}
.futer_row{
    gap: 20rem;
    
}